html,body {
	padding: 0;
	border: 0;
	margin: 0;
	height: 100%;
}

nav {
	border: 0 !important;
	border-radius: 0 !important;
	height: 100px;
	background-color: #ffffff !important;
	margin-bottom: 0 !important;
}

.nav-item {
	margin-top: 30px;
	font-weight: 700;
	text-transform: uppercase;
}

.nav-item:hover {
	background-color: #fcec9c !important;
	border-radius: 5px;
}

.four-gal {
	height: 200px;
	width: 100%;
}


.logo {
	height: 94px;
	width: 195px;
	margin-top: -12px;
}

.carousel-inner {
	width: 100%;
	max-height: 570px !important;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
	width: 100% !important;
    max-height: 570px !important;
  }

.menu-bar {
	text-align: center;
}

.menu-links {
	padding: 25px 0 25px 0;
}

.menu-links > a {
	margin-right: 25px;
	text-transform: uppercase;
	font-weight: 600;
	color: #a0a0a0;
	border: 2px solid #a0a0a0;
	border-radius: 7px;
	padding: 8px;
}

.menu-links > a:hover {
	color: #ffffff;
	background-color: #fcdb80;
	border: 2px solid #fcdb80;
	text-decoration: none;
}


.food-row {
	margin-right: 0 atuo;
}

.food-box {
	text-align: center;
}

.food-description {
	padding: 0px 25px;
}

#breakfast, #lunch, #salads, #paninis {
	display: none;
}

.catering {
	width: 100%;
	min-height: 400px;
	max-height: 700px;
	text-align: center;
	background-color: #f9bd25;
	color: white;
}

#cater {
	text-transform: uppercase;
	text-align: center;
	margin-top: 60px;
}

#cater-menu-div {
	margin-top: 50px;
	margin-bottom: 50px;
}

.cat1, .cat2 {
	padding-right: 50px;
	padding-left: 50px;
}

#cater-menu {
	border-radius: 8px;
	padding: 15px 25px;
	border: 3px solid black;
	text-transform: uppercase;
	text-decoration: none;
	color: white;
}

footer {
	background-color: #9b9b9b;
	color: white;
	min-height: 230px;
	max-height: 300px;
}

.foot-item {
	text-align: center;
}

.fa {
	color: white;
	margin-right: 10px;
}


