$white: #ffffff;

body {
	padding: 0;
	border: 0;
	margin: 0;
}

.navbar {
	background-color: $white;
	border: none;
    .navbar-header {
        .navbar-brand {
        	min-height: 110px;
        	min-width: 150px;
        	max-height: 120px;
        	max-width: 190px;
            #logo {
            	height: 100%;
            	width: 100%;
            }
        }
    }
    .navbar-nav {
    	margin-top: 40px;
    	position: relative;
    	right: 15px;
        .nav-link {
        	font-size: 1.4em;
        	font-weight: 600;
        	text-transform: uppercase;
			text-align: center;
        }
    }
}

.slide-container {
    padding-bottom: 40px;
}

.menu {
	margin-bottom: 0;
	.menu-links-container {
		background-color: $white;
		border-radius: 3px;
		ul {
			list-style-type: none;
			padding: 0;
			.menu-item {
				padding-top: 15px;
				padding-left: 10px;
				height: 50px;
				width: 100%;
				border-bottom: 1px solid black;
			}
			.menu-item:last-child {
				border: none;
			}
		}
    }
    #menu-list {
        .menu-container {
			border-radius: 3px;
			background-color: #ffffff;
			min-height: 94px;
			margin: 0px 5px 5px 0px;
			.menu-item-description {
				font-size: 1em;
			}
		}
    }
}


.catering {
	padding: 0;
	text-align: center;
	background-color: #f9bd25;
	max-height: 400px;
	.cater-description {
		h3 {
			margin-top: 60px;
		}
	}
	#left-adjust {
		padding-left: 0 !important;
	}
	#sunny-map {
		height: 400px;
		width: 100%;
	}
}


footer {
	background-color: #eee;
	color: #000000;
	min-height: 170px;
	max-height: 340px;
	.foot-item {
		text-align: center;
		p {
			margin: 0;
		}
		.fa {
			color: #000000;
			margin-right: 10px;
		}
	}
}

@media (min-width: 320px) and (max-width: 768px) {
	.menu {
		ul {
			ul:nth-child(3) {
				margin-top: 1px;
			}
			.menu-item {
				text-align: center;
			}
		}
		#menu-list {
			.menu-container {
				margin: 0;
			}
		}
	}
	.catering {
		min-height: 725px;
		#left-adjust {
			padding-right: 0;
		}
	}
	footer {
		padding-bottom: 18px;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	.menu {
		.menu-links-container {
			#menu-choices {
				.menu-item {
					text-align: center;
				}
			}
		}
	}
	.catering {
		min-height: 200px;
	}
}

// *Signature Sandwiches
@media (min-width: 992px) and (max-width: 1108px) {
	.menu {
		.menu-links-container {
			#menu-choices {
				.menu-item:nth-child(3) {
					padding-top: 3px;
				}
			}
		}
	}
}

@media (min-width: 1109px) and (max-width: 1199px) {
	.menu {
		.menu-links-container {
			#menu-choices {
				.menu-item:nth-child(3) {
					padding-top: 15px;
				}
			}
		}
	}
}

@media (min-width: 1200px) and (max-width: 1680px) {
	.menu {
		padding-left: 8%;
		.menu-links-container {
			width: auto;
		}
	}
}
